::-webkit-scrollbar {
    display: none;
}

.grayscale-colour p {
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    background-image: repeating-linear-gradient(
        25deg,
        #1c1c1c,
        #797979,
        #1c1c1c
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section-grayscale {
    margin: 0;
    padding: 0;
}

.grayscale-colour {
    float: left;
    margin: 1rem 1rem 1rem 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 3px solid black;
}

body {
    background-color: #FEFBEF;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0 1rem;
    margin: 0;
}
